{% load static %}
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            {% if not request.user.is_authenticated %}
                <a href="{% url "account:login" %}">Sign in</a>
            {% else %}
                <a href="#">Profile</a>
            {% endif %}
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="{% static "img/icon/search.png" %}" alt=""></a>
        <a href="#"><img src="{% static "img/icon/heart.png" %}" alt=""></a>
        <a href="#"><img src="{% static "img/icon/cart.png" %}" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>