{% extends "profile/base.html" %}
{% load static %}

{% block main %}
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">

                        <div class="my-3 text-center">Code is sent to your email</div>
                        {{ form.code.errors }}
                        <form class="" method="post">
                            {% csrf_token %}
                            <div class="field">
                                <i class="fa fa-envelope"></i>
                                {{ form.code }}
                            </div>


                            <div class="my-3">
                                <button class="btn custom-btn w-100">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}