{% extends "base.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
    <!-- Contact Section Begin -->
    <section class="contact col-lg-12"
             style="margin: 50px 50% 50px 30%;">
        <div class="col-lg-6 col-md-6">
            <div class="contact__form">

                {% for error in form.non_field_errors %}
                    <div class="alert-danger rounded mb-3"
                         style="padding: 5px">
                        {{ error }}
                    </div>
                {% endfor %}

                {% for error in form.password.errors %}
                    <div class="alert-danger rounded mb-3"
                         style="padding: 5px">
                        {{ error }}
                    </div>
                {% endfor %}

                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form.username }}
                        </div>

                        <div class="col-lg-12">
                            {{ form.password }}
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="site-btn">Sign in</button>

                            <a href="{% url "account:password-reset-phone" %}"
                            class="ml-5">Forgot Password?</a>

                            <a href="{% url "account:register" %}"
                            class="ml-5">Don't Have an account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}

