{% extends "base.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
    <!-- Contact Section Begin -->
    <section class="contact col-lg-12"
             style="margin: 50px 50% 50px 30%;">
        <div class="col-lg-6 col-md-6">
            <div class="contact__form">

                {% for error in form.non_field_errors %}
                    <div class="alert-danger rounded mb-3"
                         style="padding: 5px">
                        {{ error }}
                    </div>
                {% endfor %}

                <form method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-12">
                            {{ form.password1 }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.password2 }}
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="site-btn">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <script>
        function changeProfile() {
            document.getElementById("id_image").click()
        }
    </script>
{% endblock %}

