{% extends "base.html" %}
{% load static %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
    <!-- Contact Section Begin -->
    <section class="contact col-lg-12"
             style="margin-top: 50px; margin-bottom: 50px; margin-left: 25%">
        <div class="col-lg-6 col-md-6">
            <div class="contact__form">

                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert-danger rounded mb-3"
                             style="padding: 5px">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert-success rounded mb-3"
                             style="padding: 5px">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert-danger rounded mb-3"
                         style="padding: 5px">
                        {{ error }}
                    </div>
                {% endfor %}

                {% if form.email.errors %}
                    <div class="alert-danger rounded mb-3"
                         style="padding: 5px">
                        {{ form.email.errors }}
                    </div>
                {% endif %}

                {% if form.phone.errors %}
                    <div class="alert-danger rounded mb-3"
                         style="padding: 5px">
                        {{ form.phone.errors }}
                    </div>
                {% endif %}

                <form method="post" , enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="user-panel-profile mb-3">
                        {% if request.user.image %}
                            <img src="{{ request.user.image.url }}" alt="user profile image"
                                 style="width: 10%; border-radius: 50px; margin-left: 45%;"
                                 onclick="changeProfile()">
                        {% else %}
                            <img src="{% static "account/images/static-user.jpg" %}" alt="user profile image"
                                 style="width: 10%; border-radius: 50px; margin-left: 45%;"
                                 class="profile_image"
                                 onclick="changeProfile()">
                        {% endif %}
                    </div>
                    <div class="change-profile-btn">
                        <button class="change-profile-btn" hidden>{{ form.image }}</button>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form.full_name }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.email }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.phone }}
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-primary" href="{% url "account:change-password" %}">Change Password</a>
                        </div>
                        <div class="col-lg-6">
                            {{ form.address }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.bio }}
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="site-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <script>
        function changeProfile() {
            document.getElementById("id_image").click()
        }
    </script>
{% endblock %}

